.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  .fl {
    float: left;
  }
  .warpper {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main {
    width: 405px;
    height: 550px;
    /* background-color: rgba(0, 0, 0, 1); */
    margin: 50px 35%;
    border-radius: 20px 20px 30px 30px;
    box-shadow: inset 0px 0px 220px 156px #010101;
  }
  .first_last {
    display: flex;
    justify-content: space-between;
  }
  .head {
    color: #fff;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: left;
  }
  .form {
    height: 400px;
    padding: 50px 15px;
  }
  .name {
    font-size: 16px;
    color: #fff;
  }
  .name-inp {
    width: 360px;
    height: 30px;
    font-size: 16px;
    padding: 2px 5px;
    margin-bottom: 30px;
    color: rgb(114, 111, 111);
    border: 1px solid rgb(17, 67, 107);
    background-color: rgb(231, 232, 250);
    border-radius: 4px;
  }
  .name-inp:hover {
    background-color: rgb(0, 23, 41);
    color: rgb(173, 167, 167);
    border: 1px solid rgb(139, 139, 139);
  }
  .pass {
    height: 30px;
    width: 160px;
    padding: 2px 5px;
    background-color: rgb(231, 232, 250);
    border: 1px solid rgb(17, 67, 107);
    border-radius: 4px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  .pass:hover {
    background-color: rgb(0, 23, 41);
    color: rgb(173, 167, 167);
    border: 1px solid rgb(139, 139, 139);
  }
  .submit {
    text-align: right;
  }
  .sub {
    width: 160px;
    font-size: 16px;
    height: 40px;
    background-color: #18bf12;
    border: 1px solid rgb(17, 67, 107);
    color: #fff;
    border-radius: 4px;
  }
  .sub:hover {
    background-color: #e94601;
    color: #fff;
  }
  